table.displaytag {
    border: 1px solid #666;
    width: 80%;
    margin: 20px 0 20px 0 !important;
}

table.displaytag th, table.displaytag td {
    padding: 2px 4px 2px 4px !important;
    text-align: left;
    vertical-align: top;
}

thead tr {
    background-color: #ffdf89;
}

thead.basket tr {
    background-color: #e6edf5;
}

th.sorted {
    background-color: orange;
}

th a, th a:visited {
    color: black;
}

th a:hover {
    text-decoration: underline;
    color: black;
}

th.sorted a, th.sortable a {
    background-position: right;
    display: block;
    width: 100%;
}

th.sortable a {
    background-image: url( ../img/arrow_off.png );
    background-repeat: no-repeat
}

th.order1 a {
    background-image: url( ../img/arrow_down.png );
    background-repeat: no-repeat
}

th.order2 a {
    background-image: url( ../img/arrow_up.png );
}

table.displaytag tr.odd {
    background-color: #fff
}

tr.tableRowEven, tr.even {
    background-color: #fea
}

span.pagebanner {
    background-color: #eee;
    border: 1px dotted #999;
    padding: 2px 4px 2px 4px;
    width: 79%;
    margin-top: 10px;
    display: block;
    border-bottom: none;
}

span.pagelinks {
    background-color: #eee;
    border: 1px dotted #999;
    padding: 2px 4px 2px 4px;
    width: 79%;
    display: block;
    border-top: none;
    margin-bottom: -5px;
}
