.normal {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
}

.title {
    font-weight: bold;
}

.hlite {
    font-weight: bold;
    color: #333333;
}

.illust {
    color: #990000;
}

.link {
    color: #6699ff;
    text-decoration: none;
}

A:active {
    color: #6699ff;
    text-decoration: none;
}

A:hover {
    color: #6699ff;
    text-decoration: underline;
}

A.link:active {
    color: #6699ff;
    text-decoration: none;
}

A.link:visited {
    color: #6699ff;
    text-decoration: none;
}

A.link:link {
    color: #6699ff;
    text-decoration: none;
}

A:link {
    color: #6699ff;
    text-decoration: none;
}

A.link:hover {
    color: #6699ff;
    text-decoration: underline;
}

.box {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 90%;
    color: #000000;
    border: 1px solid #c3d9e4;
    padding: 20px;
}

.bord3sb {
    font-size: 90%;
    border-right: 1px solid #c3d9e4;
    border-top: 0 solid #ffffff;
    border-left: 1px solid #c3d9e4;
    border-bottom: 1px solid #c3d9e4;
    padding: 20px;
}

.sectitle {
    font-size: 90%;
    font-weight: bold;
    background-color: #c3d9e4;
    border: 1px solid #c3d9e4;
    padding-left: 20px;
}

.tabtitle {
    font-size: 90%;
    font-weight: bold;
    background-color: #e6edf5;
    padding: 5px;
}

.tabdesc {
    font-size: 90%;
    background-color: #f5f6f7;
    padding: 5px;
}

#scrollToTop{
	position: fixed;
	right: 20px;
	bottom: 10px;
	z-index:500;
	/*background-color: rgb(255,255,255);
	background-color: rgba(255,255,255, 0.7);
	padding: 6px 9px;
	border: 1px solid #000;*/
}
#scrollToTop img:hover{
	/*box-shadow: 0px 0px 5px #222;
	-moz-box-shadow: 0px 0px 5px #222;
	-webkit-box-shadow: 0px 0px 5px #222;*/
	opacity:0.7;
	cursor:pointer;
	text-decoration: none !important;
}